.main__action__page{
    display: flex;
}
.sidebar{
    position: absolute;
    background: var(--primary);
    width: 300px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sidebar>div{
    margin: 20px;
    cursor: pointer;
}

.profile_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: var(--secondary);
    border: 2px solid white;
}

.states>div{
    margin: 20px;
}

.map__container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box_modal{
    width: 100%;
    height: 100%;
   
}

.box_modal > *{
    margin: 20px 0;
}
